<html lang="en">
{% load static %}
<head>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Slots</title>
    <link href="{% static "css/sb-admin-2.min.css"%}"" rel="stylesheet">
</head>
<body>
    
    
    <div class="container-fluid" style="margin-left: 40%;">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Parking Slot Details</h1>
            
        </div>
        

        <!-- Content Row -->
        <div class="row">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Parking Slot Table</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Parking Name</th>
                                    <th>Slots</th>
                                   
                                    <th>Action</th>
                                    
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for x in slot_details %}
                                <tr>
                                   
                                    <td>{{forloop.counter|add:0}}</td>
                                    <td>{{x.location_name}}</td>
                                    <td>{{x.slot_number_selected}}</td>
                                    
                                    
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                       
                                        
                                        <td><button type="submit" onclick="return show_alert()"  class="btn btn-danger" name="id" value="{{x.id}}">Remove</button> </td>
                                    </form>
                                    
                                </tr>
                                
                               {% endfor %}
                                
                               
                            </tbody>
                        </table>
                        <a href="{% url 'employee_homepage' %}" class="btn btn-success" style="margin-left: 40%;">Back </a>
                    </div>
                </div>
            </div>


            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          
            
            



            
            

            

           
        </div>

        

       

    </div>
    <script>
        function show_alert()
        {
            if(!confirm("Do you really want to remove it?")) 
            {
                return false;
            }
            
            this.form.submit();
        }
    </script>

    

    

   
    
</body>
</html>